<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Socket name="Socket" host="logstash" port="5001" protocol="TCP">
            <JsonLayout compact="true" eventEol="true" />
        </Socket>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Socket"/>
        </Root>
    </Loggers>
</Configuration>